<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block TitlePage %}
    <title>Trang chủ</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename = 'images/logo1.png')}}"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    {% block js %}
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    {% endblock %}
</head>
<body>
{%block header%}
{% endblock %}
{% block nav%}
    {% include "base/navbar.html"%}
{% endblock %}
{% block details %}
{% endblock %}
{% block medical_register %}
{% endblock %}
{% block modal%}
{% endblock %}
{% block comment%}
{% endblock %}
</body>
<footer>
{% block footer%}
    {% include "base/footer.html"%}
{% endblock %}
</footer>
</html>