
<form  method="post" action="{{url_for('login_admin')}}">
   <div class="container" style="width: 35%">
       <h3>Đăng Nhập</h3>
    <div class="form-group">
        <input class="form-control" type="text" name="userN" placeholder="Nhap username...">
    </div>
    <div class="form-group">
        <input class="form-control" type="password" name="passW" placeholder="Nhap mat khau...">
    </div>
        <div class="form-group">
        <input class="btn btn-danger" type="submit" value="Login">
    </div>
</div>
</form>